<div class="container">
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      ポスト詳細
      <% if current_user&.mine?(@post) %>
        <div class="text-end">
          <%= link_to '編集', edit_post_path(@post), class: 'btn btn-success btn-sm' %>
          <%= link_to '削除',
                      post_path(@post),
                      class: 'btn btn-danger btn-sm',
                      method: :delete,
                      data: { confirm: '削除します' } %>
        </div>
      <% end %>
    </div>
    <div class="card-body">
      <h2 class="h2">
        <%= @post.title %>
      </h2>
      <%= simple_format(@post.body) %>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      コメント
    </div>
    <div class="card-body">
      <%= form_with model: [@post, @comment] do |f| %>
        <%= render 'shared/error_message', object: f.object %>
        <div class="mb-3">
          <%= f.label :body %>
          <%= f.text_area :body, rows: 5, class: 'form-control' %>
        </div>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <hr>
      <div class="p-5">
        <ul class="list-unstyled">
          <%= render partial: 'posts/comments/comment', collection: @post.comments.order(created_at: :desc) %>
        </ul>
      </div>
    </div>
  </div>
</div>
